<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mon formulaire</title>
</head>
<style>
    body{
        background-color : #1e97f3;
        text-align: center;
        color : #0747a1;
    }
    submit{
        background-color : pink;
        color : #c11c84;
    }
</style>

<body>
<form action="/myfirstapp/bonjour" method="GET">
		<label FOR="nom"> Nom :</label>
		<input TYPE="text" NAME="nom">
		<input type="submit" value="envoyer les données">
    </form>
</body>
</html>